$basic-gradient: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
$positive-gradient: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
$danger-gradient: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
$neutral-gradient: linear-gradient(to top, #00c6fb 0%, #005bea 100%);